#menu {
  background-color: black;
  color: white;
  display: flex;


}

#menu div {
  padding: 20px;

}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.active {
  color: red;
}

img {
  height: 100px;
  width: 100px;
}

#footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button {
  background-color: black;
  color: white;
}
